<%- include('partials/header'); -%>

<div class="container top-container text-center">
    <div class="col col-lg-6 mx-auto">
        <h1>
            <% for(let i=0; i < listTitle.length; ++i){ %>
            <%=listTitle[i] + ' '%>
            <% } %>
        </h1>
    </div>
</div>

<% for(let i=0; i < listArray.length; ++i){ %>
<div class="container">
    <div class="row">
        <div class="col col-lg-8 text-start text-wrap text-break mx-auto">
            <form action="/" method="POST">
                <input type="checkbox" name="removeTask" onchange="this.form.submit()" value=<%= listArray[i].id %>
                    aria-label="input for a new task">

                <p aria-label="todo list item">
                    <%=listArray[i].name%>
                </p>
                <input type="hidden" name="listName" value=<%= listTitle.join('^') %>>
            </form>

            <form class="item" action="/" method="POST">
                <input id=todo-blank type="text" name="newItem" placeholder="New Task" autocomplete="off"
                    aria-label="input for a new task">
                <button class="add" type="submit" name="listName" aria-label="task to add to todo list"
                    value=<%=listTitle.join('^') %>><i class="fa-solid fa-plus"></i></button>
            </form>
        </div>
    </div>
</div>
<% } %>
<%- include('partials/footer'); -%>