<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%=listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for(let i=0; i < listArray.length; ++i){ %>
            <div class="item">
                <input type="checkbox">
                <p aria-label="todo list item">
                    <%=listArray[i]%>
                </p>
            </div>
            <% } %>

                <form class="item" action="/" method="POST">
                    <input type="text" name="newItem" placeholder="New Task" autocomplete="off"
                        aria-label="input for a new task">
                    <button class="add" type="submit" name="list" aria-label="task to add to todo list" value=<%=listTitle %>
                        >+</button>
                </form>

    </div>
        <div class="box delete-box">
        <form class="item" action="/" method="POST">
            <input class="input-delete" type="text" name="removeTask" placeholder="Remove Task" autocomplete="off"
                aria-label="input for a task to delete from list">
            <button class="delete" type="submit" name="remove" aria-label="task to delete from list" value=<%=listTitle %>
                >+</button>
        </form>
    </div>
    <%- include('footer'); -%>