<%- include('partials/header'); -%>

<div class="title">
    <p class="lead">
        <% for( let index = postArray.length -1; index >= 0; index-- ) { %>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-lg-6 border border-dark rounded-top border-bottom-0 mx-auto">
                <%=postArray[index].date%>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 border border-dark rounded-top mx-auto">
                <p class="lead text-start mt-2 mb-2">
                    <h2><%=postArray[index].title%></h2>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 border border-top-0 border-dark rounded-bottom mx-auto">
                <p class="lead text-start mt-2 mb-2">
                    <%=postArray[index].body.substring(0,80) +"..."%>
                </p>
            </div>
        </div>
    </div>
    <% } %>
    </p>
</div>

<%- include('partials/footer'); -%>