<%- include('partials/header'); -%>

<% for( let index = postsMatch.length -1; index >= 0; index-- ) { %>
<div class="container-fluid mb-4">
    <div class="row">
        <div class="date col-lg-6 col-md-6 col-sm-6 border border-dark rounded-top border-bottom-0 mx-auto">
            <h5 class="mt-2">
                <%=postsMatch[index].date%>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="title col-lg-10 border border-dark rounded-top mx-auto">
            <h2 class="text-start mt-2 text-center"><%=postsMatch[index].title%></h2>
        </div>
    </div>
    <div class="row">
        <div class="body col-lg-10 border border-top-0 border-dark rounded-bottom mx-auto">
            <p class="lead text-start text-break">
                <%=postsMatch[index].body %>
            </p>
        </div>
            <form action="/delete" method="POST">
            <button class="btn btn-danger btn-lg" id="delete-entry" name="date" value="<%= postsMatch[index].date %>">Delete Entry</>
    </div>
</div>
<% } %>
<%- include('partials/footer'); -%>